<div class="row py-2">
  <div class="col-12">
    <form  method="post" >
      <input type="hidden" id="id" name="id" >
      <div class="form-group">
        <label>Имя пользователя: </label>
        <input type="text" class="form-control" id="name" name="username" placeholder="Enter username" >
        <label>e-mail: </label>
        <input type="text" class="form-control" id="email" name="user_email" placeholder="Enter email" >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

